*{
padding: 0px;
margin: 0px;
}

ul{
    padding: 0px !important;
}

body{
width: 100%;
height: 100%;
}

.menu-principal{
background-color: #252323;
height: 60px; 
width: 100%;
}

main{
width: 980px;
margin: 0 auto;
position: relative;
}


.logo{
width: 75%;
float: left;
padding: 16px;
}

.redes-sociais{
    width: 20%;
    margin-top: 16px;
    float: right;
}

.redes-sociais ul li{
    
    display: inline-block;
    margin-right: 20px;
}

.header-2{
    width: 980px;
    margin: 0 auto;   
    background-color: #ffffff;
}

.menu ul li{
    display: inline-block;
    margin-left: 10px;
}

.menu ul li a{
    color: #8b8b8b;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

.menu{
    margin-top: 18px;
    width: 70%;
    float: left;
}

.search{
    width: 22%;  
    text-align: center;
    float: right;
}

.search input{
    padding-left: 15px;
    background-image: url("../img/icone-search.png");
    background-repeat: no-repeat;
    background-position: 96%;
    border: 2px solid lightgrey;
    background-size: 20px;
    height: 36px;
    width: 190px;
    margin-top: 9px;
}

.carosel img{
    width: 100%;
}

.col-100{
    width: 100%;
    float: left;
    position: relative;
}
.menu-urls{
    display: flex;
    align-items: center;
    border-bottom: 3px solid #efefef;
    height: 80px;
}

